<table>
    <thead>
      <tr>
        @for (head of headArray(); track head.head) {
          <th>{{head.head}}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (item of gridArray(); track item) {
        <tr>
          @for (head of headArray(); track head.head) {
            <td>
               @if (head.fieldName !== '') {
                {{item[head.fieldName]}}
               }
               @if (head.fieldName === '') {
                <button (click)="onEditTable(item)">Edit</button>
                <button (click)="onDeleteTable(item)">Delete</button>
               }
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
