<table>
    <thead>
      <tr>
        @for (head of headArray(); track head.head) {
          <th>{{head.head}}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (item of gridArray(); track item) {
        <tr>
          @for (head of headArray(); track head.head) {
            <td>
               @switch (head.fieldName) {
                @case ("buttonsOptions") {
                  @for (button of buttonsOptions()?.buttons; track button) {
                    <button (click)="onButtonsOptionsClick(item, button)">{{button.title}}</button>                  
                  }
                }
                @case ("selectsOptions") {
                  @if (selectOptions(); as selectOptions) {
                    <select (change)="onSelectOptionsClick(item, selectOptions, $event)">
                      @for (opcion of item[selectOptions.selectKeyValues]; track opcion) {
                        <option [value]="opcion">{{ opcion }}</option>
                      }
                    </select>                  
                  }
                }
                @default {
                  {{item[head.fieldName]}}
                }
              }               
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
